* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", "Helvetica", sans-serif;
    line-height: 1.5;
    background-color: #6495ED;
}

form {
    margin: 2rem;
    background-color: #FFF;
    padding: 2rem;
    margin: 0 auto;
}

fieldset {
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #F5F5F5;
    margin: 0 auto;
    max-width: 50rem;
}

legend {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 2rem;
    border: 1px solid #ddd;
    background-color: #F5F5F5;
    padding: 20px;
}

.box {
    margin: 0 0 1rem 0; 
    font-family: "Arial", "Helvetica", sans-serif;
}

label {
    display: block;
}

input[type="text"] {
    font-family: "Arial", "Helvetica", sans-serif;
    border: 1px solid #ddd;
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="button"] {
    padding: 10px;
    background-color: #6495ED;
    color: #F5F5F5;
}


/*media queries*/
@media only screen and (min-width: 25rem) {
    .fullname {
        float: left;
        width: 48%;
    }
    
    .email {
        float: right;
        width: 48%;
    }
    
    input {
        width: 100%;
    }
    
    #submit-btn {
        width: 50%;
    }
}
